@using TimeClock.Data.Models
@model IEnumerable<EmployeeViewModel>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPunchTime)
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    <div class="punch-status  @item.CurrentStatusClass"></div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastPunchTime)
                </td>
                <td>
                    <button>
                        @if (item.CurrentStatus == TimePunchStatus.PunchedIn)
                        {
                            @Html.ActionLink("Clock Out", "Clock", new { id = item.EmployeeId, status = TimePunchStatus.PunchedOut })
                        }
                        else
                        {
                            @Html.ActionLink("Clock in", "Clock", new { id = item.EmployeeId, status = TimePunchStatus.PunchedIn })
                        }
                    </button>
                </td>
            </tr>
        }

    </table>
